@import '../../variables.scss';

.dui-sandbox{
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 0;

  &-navigation{
    padding: 32px;

    &-item{
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 16px;
      margin-bottom: 16px;
      border-radius: map-get($radius, normal);
      cursor: pointer;

      &-active{
        background-color: $master_lightest;
      }
    }
  }

  &-content{
    background-color: $master_lightest;
    padding: 32px;
    overflow: hidden;
    min-height: 100vh;

    &-title{
      font-size: 24px;
      margin: 0 0 64px 0;
    }

    &-subtitle{
      margin-bottom: 8px;
    }

    &-row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      margin: 24px 0;
    }
  }
}
