@import '../variables.scss';


.dui-button{
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  background-color: $primary;
  border-radius: map-get($radius, small);
  cursor: pointer;
  transition: .15s ease-in-out;

  &:hover{
    background-color: $primary_light;
  }

  .dui-icon{
    fill: $white;
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
  }

  .dui-button-text{
    text-transform: uppercase;
    color: $white;
    letter-spacing: 2px;
    line-height: 14px;
  }
}

// Templates
.dui-button-success{
  background-color: $success;

  &:hover{
    background-color: $success_light;
  }
}

.dui-button-warning{
  background-color: $warning;

  &:hover{
    background-color: $warning_light;
  }
}

.dui-button-danger{
  background-color: $danger;

  &:hover{
    background-color: $danger_light;
  }
}

.dui-button-info{
  background-color: $info;

  &:hover{
    background-color: $info_light;
  }
}



.dui-button-disabled{
  background-color: $master_light;
  cursor: not-allowed;

  &:hover{
    background-color: $master_light;

    .dui-button-text{
      color: $master;
    }
  }

  .dui-button-text{
    color: $master;
  }
}

.dui-button-icon-right{
  flex-direction: row-reverse;

  .dui-icon{
    margin: 0 0 0 8px;
  }
}
