@import '../variables.scss';


.dui-dropdown{
  position: relative;

  &-button{
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    background-color: $primary;
    border-radius: map-get($radius, small);
    cursor: pointer;
    transition: .15s ease-in-out;

    &:hover{
      background-color: $primary_light;
    }

    &-text{
      text-transform: uppercase;
      color: $white;
      letter-spacing: 2px;
      line-height: 14px;
    }

    .dui-icon{
      fill: $white;
      width: 20px;
      height: 20px;
      margin: 0 0 0 8px;
    }
  }

  &-panel{
    position: absolute;
    top: 44px;
    left: 0;
    background-color: $white;
    border-radius: map-get($radius, small);
    box-shadow: $shadow_dropdown;

    &-right{
      left: auto;
      right: 0;
    }

    &-top{
      top: auto;
      bottom: 44px;
    }

    &-links{
      a{
        display: flex;
        align-items: center;
        height: 40px;
        color: $master;
        padding: 0 16px;
        text-decoration: none;
        white-space: nowrap;
        transition: background-color .15s ease-in-out;

        &:hover{
          background-color: $master_lighter;
        }
      }
    }
  }
}
