@import '../variables.scss';

.dui-table-container{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.dui-table{
  border-collapse: collapse;
  background-color: $white;

  &-header{
    &-row{
      &-cell{
        padding: 0;

        &-content{
          display: flex;
          align-items: center;
          height: 40px;
          text-align: left;
          text-transform: uppercase;
          padding: 8px 16px;
          white-space: nowrap;
          background-color: $master_lighter;
          border-top: 1px solid $master;
          border-bottom: 1px solid $master;
        }
      }
    }
  }
  &-body{
    &-row{
      &-cell{
        &-content{
          display: flex;
          align-items: center;
          height: 32px;
          text-align: left;
          padding: 8px 16px;
          border-bottom: 1px solid $master_lighter;
        }
      }
    }
  }
}
