@import '../variables.scss';

.dui-table-container{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}


.grip-container{
  .grip-handle{
    &:hover{
      border-left: 1px dotted $master_light;
    }

    &.grip-drag{
      border-left-color: $primary;
    }
  }
}


.dui-table{
  border-collapse: collapse;
  background-color: $white;

  &-header{
    &-row{
      &-cell{
        padding: 0;

        &-content{
          display: flex;
          align-items: center;
          height: 40px;
          text-align: left;
          text-transform: uppercase;
          padding: 8px 16px;
          white-space: nowrap;
          border-bottom: 1px solid $master;
        }
      }
    }
  }

  &-body{
    &-row{
      &-cell{
        &-content{
          display: flex;
          align-items: center;
          height: 32px;
          text-align: left;
          white-space: nowrap;
          padding: 8px 16px;
          border-bottom: 1px solid $master_lighter;
        }
      }
    }
  }
}
