$neutral_lightest: #F9F9FB;
$neutral_light: #E4E7EB;
$neutral_base: #425A70;
$neutral_dark: #234361;

$white: #FFFFFF;
$blue: #1070CA;
$red_dark: #BF0E08;
$red: #EC4C47;
$red_light: #FAE2E2;
$orange: #D9822B;
$yellow: #F7D154;
$green_dark: #00783E;
$green: #47B881;
$green_light: #D4EEE2;
$teal: #14B5D0;
$purple: #735DD0;

$bg_1: #F9F9FB;
$bg_2: #F5F6F7;
$bg_3: #EDF0F2;
$bg_4: #E4E7EB;
$bg_5: #C7CED4;
$bg_6: #A6B1BB;
$bg_7: #7B8B9A;
$bg_8: #66788A;
$bg_9: #425A70;
$bg_10: #234361;

$border: #E4E7EB;
$border_mutted: #EDF0F2;

$text: #425A70;
$text_muted: #66788A;
$text_dark: #234361;
