
$master_darkest: #0a0a0a;
$master_darker: #1A1A1A;
$master_dark: #2C2C2C;
$master: #626262;
$master_light: #E6E6E6;
$master_lighter: #F0F0F0;
$master_lightest: #FAFAFA;

$primary_darker: #2B6A94;
$primary_dark: #3C93CE;
$primary: #48B0F7;
$primary_light: #6DC0F9;
$primary_lighter: #DAEFFD;

$success_darker: #008b70;
$success_dark: #00bc97;
$success: #00e8ba;
$success_light: #33edc8;
$success_lighter: #ccfaf1;

$warning_darker: #957D32;
$warning_dark: #CFAE45;
$warning: #F8D053;
$warning_light: #F9D975;
$warning_lighter: #FEF6DD;

$danger_darker: #933432;
$danger_dark: #CD4945;
$danger: #F55753;
$danger_light: #F77975;
$danger_lighter: #FDDDDD;

$info_darker: #232B31;
$info_dark: #313B44;
$info: #3B4752;
$info_light: #626C75;
$info_lighter: #D8DADC;

$white: #ffffff;
